@import url("fonts.css");
@import url("colors.css");

/* General styles for all pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--white);
}

/* Header and navbar */
header{
    background-color: var(--dark_blue_bg);
    padding: 10px 0;
}
.navbar{
    display: flex;
}

.menu{
    display: flex;
    list-style: none;
    text-align: center;
}

.menu li{
    display: inline;
    margin: auto 10px;
}

.menu a{
    font-size: 18px;
    color: var(--light_gray);
    text-decoration: none;
}

.logo{
    width: 55%;
    text-align: center;
}

.logo a{
    font-size: 24px;
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

/* footer */

.footer {
    background: var(--dark_blue_bg);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--light_gray);
    font-size: 16px;
    padding: 20px;  
}

.f-logo-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-logo-container img {
    width: 60px;
}

.f-links-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.f-first-row {
    display: flex;
    justify-content: space-between;
}

.newsletter-container {
    display: flex;
    align-items: flex-end;
}

.newsletter-container p {
    color: var(--light_gray);
    font-size: 16px;
    margin: auto 0;
    margin-right: 10px;

}

.newsletter-container:-ms-input-placeholder,
.newsletter-container::placeholder {
    color: var(--light_gray);
    font-size: 14px;
}

.footer-links{
    margin: auto 0;
}

.footer-links a {
    color: var(--light_gray);
    font-size: 16px;
    text-decoration: none;
    margin-right: 10px;
}

.footer-links a:hover {
    color: var(--blue);
}

.f-second-row {
    background-color: var(--light_gray);
    height: 1px;
    margin: 20px 0px;
}

.f-third-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright p {
    font-size: 10px;
}

.social-media a {
    background-color: var(--light_gray);
    border-radius: 100%;
    padding: 8px 9.5px;
    margin-right: 5px;
    font-size: 20px;
}

.fa-twitch, .fa-facebook, .fa-youtube, .fa-instagram, .fa-twitter {
    color: var(--dark_blue_bg);
}

.social-media a:hover{
    background-color: var(--dark_blue_bg);
    transition: all .3s ease;
}

.social-media a:hover .fa-twitch, .social-media a:hover .fa-facebook, .social-media a:hover .fa-youtube, .social-media a:hover .fa-instagram, .social-media a:hover .fa-twitter {
    color: var(--blue);
    transition: color .9s ease;
}

/* Responsive Footer */
@media screen and (max-width: 800px) {
    .newsletter-container p {
        font-size: 14px;
    }

    .newsletter-container {
        align-items: center;
        flex-direction: column;
    }

    .newsletter-container::placeholder {
        font-size: 12px;
    }
    
    .footer-links a {
        font-size: 14px;
    }

    .f-links-container {
        padding: 0px;
    }

    .social-media a {
        font-size: 10px;
    }
}