@import url("fonts.css");
@import url("colors.css");

/* General styles for all pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
}

/* Header and navbar */
header{
    background-color: var(--dark_blue_bg);
    padding: 10px 0;
}
.navbar{
    display: flex;
}

.menu{
    display: flex;
    list-style: none;
    text-align: center;
}

.menu li{
    display: inline;
    margin: auto 10px;
}

.menu a{
    font-size: 18px;
    color: var(--light_gray);
    text-decoration: none;
}

.logo{
    width: 55%;
    text-align: center;
}

.logo a{
    font-size: 24px;
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}