@import url("fonts.css");
@import url("colors.css");
@import url("base.css");

.form-container {
    background: var(--light_gray);
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    padding: 25px;
    display: flex;
    max-width: 650px;
    margin: 50px auto;
    flex-direction: column;
    border: solid 1px var(--blue);
    border-radius: 10px;
    align-items: center;
}

.header-form {
    text-align: center;
}

.header-form h2 {
    color: var(--dark_blue);
    font-size: 36px;
    margin-bottom: 10px;
}

.header-form p {
    color: var(--dark_blue);
    font-size: 16px;
    font-weight: 300;
}

.contact-form {
    width: 60%;
}

.formulario {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.control-name, .control-email, .control-message {
    background:white;
    border-radius: 3px;
    color: var(--light_gray);
    border-style: none;
    margin-bottom: 25px;
    padding: 5px 5px 5px 5px;
    outline-color: var(--blue);
    width: 100%;
}

.control-name::placeholder {
    color: var(--light_gray);
}

.control-email::placeholder {
    color: var(--light_gray);
}

.control-message::placeholder {
    color: var(--light_gray);
}

.submit-button {
    background: var(--blue);
    border-radius: 3px;
    border:solid 1px var(--blue);
    color: white;
    margin-bottom: 10px;
    padding: 6px;
    float: right;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.submit-button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

/* footer */

.footer {
    background: var(--dark_blue_bg);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--light_gray);
    font-size: 16px;
    padding: 20px;  
}

.f-logo-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-logo-container img {
    width: 60px;
}

.f-links-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.f-first-row {
    display: flex;
    justify-content: space-between;
}

.newsletter-container {
    display: flex;
    align-items: flex-end;
}

.newsletter-container p {
    color: var(--light_gray);
    font-size: 16px;
    margin-right: 10px;
}

.newsletter-container:-ms-input-placeholder,
.newsletter-container::placeholder {
    color: var(--light_gray);
    font-size: 14px;
}

.footer-links a {
    color: var(--light_gray);
    font-size: 16px;
    text-decoration: none;
    margin-right: 10px;
}

.footer-links a:hover {
    color: var(--blue);
}

.f-second-row {
    background-color: var(--light_gray);
    height: 1px;
    margin: 20px 0px;
}

.f-third-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright p {
    font-size: 10px;
}

.social-media a {
    background-color: var(--light_gray);
    border-radius: 100%;
    padding: 5px;
    margin-right: 5px;
    font-size: 20px;
}

.fa-twitch, .fa-facebook, .fa-youtube, .fa-instagram, .fa-twitter {
    color: var(--dark_blue_bg);
}

.social-media a:hover {
    background-color: var(--dark_blue_bg);
}
.fa-twitch:hover, .fa-facebook:hover, .fa-youtube:hover, .fa-instagram:hover, .fa-twitter:hover {
    color: var(--blue);
}

@media screen and (max-width: 800px) {
    .newsletter-container p {
        font-size: 14px;
    }

    .newsletter-container {
        align-items: center;
        flex-direction: column;
    }

    .newsletter-container::placeholder {
        font-size: 12px;
    }
    
    .footer-links a {
        font-size: 14px;
    }

    .f-links-container {
        padding: 0px;
    }

    .social-media a {
        font-size: 10px;
    }
}
