@import url("base.css");

.back-btn{
    margin: 2em;
}
.back-btn a{
    border: 1px solid var(--dark_blue);
    text-decoration: none;
    background-color: var(--blue);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}
.back-btn a:hover{
    color: var(--dark_blue);
}
.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 7rem;
    background-color: var(--white);
}
.title{
    margin: 40px;
}
.title h3{
    color: var(--dark_blue);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.title p{
    color: var(--dark_blue);
    font-size: 18px;
}
.cover img{
    height: 300px;
    width: auto;
    max-width: 600px;
    border: 2px solid var(--blue);
    border-radius: 10px;
}
button{
    background-color: var(--blue);
    padding: 5px 10px;
    border-radius: 10px;
}
.radio-btn input{
    margin-bottom: 10px;
}
.radio-btn label{
    color: var(--dark_blue);
    font-size: 18px;
}
.purchase button{
    border: 1px solid var(--dark_blue);
    padding: 10px 15px;
    margin-top: 10px;
    color: var(--white);
    font-weight: bold;
}
.purchase button:hover{
    color: var(--dark_blue);
}

/* footer */

.footer {
    background: var(--dark_blue_bg);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--light_gray);
    font-size: 16px;
    padding: 20px;  
}

.f-logo-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-logo-container img {
    width: 60px;
}

.f-links-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.f-first-row {
    display: flex;
    justify-content: space-between;
}

.newsletter-container {
    display: flex;
    align-items: flex-end;
}

.newsletter-container p {
    color: var(--light_gray);
    font-size: 16px;
    margin-right: 10px;
}

.newsletter-container:-ms-input-placeholder,
.newsletter-container::placeholder {
    color: var(--light_gray);
    font-size: 14px;
}

.footer-links a {
    color: var(--light_gray);
    font-size: 16px;
    text-decoration: none;
    margin-right: 10px;
}

.footer-links a:hover {
    color: var(--blue);
}

.f-second-row {
    background-color: var(--light_gray);
    height: 1px;
    margin: 20px 0px;
}

.f-third-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright p {
    font-size: 10px;
}

.social-media a {
    background-color: var(--light_gray);
    border-radius: 100%;
    padding: 5px;
    margin-right: 5px;
    font-size: 20px;
}

.fa-twitch, .fa-facebook, .fa-youtube, .fa-instagram, .fa-twitter {
    color: var(--dark_blue_bg);
}

.social-media a:hover {
    background-color: var(--dark_blue_bg);
}
.fa-twitch:hover, .fa-facebook:hover, .fa-youtube:hover, .fa-instagram:hover, .fa-twitter:hover {
    color: var(--blue);
}

@media screen and (max-width: 800px) {
    .newsletter-container p {
        font-size: 14px;
    }

    .newsletter-container {
        align-items: center;
        flex-direction: column;
    }

    .newsletter-container::placeholder {
        font-size: 12px;
    }
    
    .footer-links a {
        font-size: 14px;
    }

    .f-links-container {
        padding: 0px;
    }

    .social-media a {
        font-size: 10px;
    }
}