@import url("base.css");

/* Intro Section */
.intro-section{
    display: flex;
    padding: 6rem 9rem;
    align-items: center;
    background-color: var(--dark_blue_bg);
    gap: 2.7rem;
}

.left-div{
    flex-basis: 50%;
}

.main-text{
    margin: 0;
    font-size: 48px;
    color: var(--white);
    font-weight: bold;
}

.left-div p{
    font-size: 18px;
    color: var(--light_gray);
}

.sign_up-button{
    padding: 8px 30px;
    border-radius: 7px;
    background: var(--blue);
    color: var(--light_gray);
    font-weight: 600;
    align-self: center;
}


.left-div .sign_up-button{
    margin-top: 10px;
    border: 0px;
}

.right-div{
    flex-basis: 50%;
}

.right-div img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 225px;
    max-height: 100%;
}

/* End Intro Section */

/* Information Section */
.information-section{
    background-color: var(--white);
    padding: 2rem;
}

.information-section h2{
    margin: 0;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: var(--dark_blue);
}

.random_information-container{
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 2rem;
    justify-content: center;
}

.random_information-container figure{
    max-width: 150px;
    margin: 0;
}

.img-container{
    display: inline-block;
    width: 150px;
    height: 170px;
    border: 3px solid var(--blue);
    border-radius: 20px;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: inherit;
}

.random_information-container figcaption{
    font-size: 15px;
    color: var(--gray);
    font-weight: normal;
    text-align: center;
    margin-top: 10px;
}
/* End Information Section */

/* Quote Section */

.quote-section{
    background-color: var(--light_gray);
    padding: 6rem 14.5rem;
}

.quote-section .quote{
    font-size: 36px;
    font-weight: 200;
    color: var(--dark_blue);
    font-style: italic;
} 

.quote-section .quote_author{
    display: block;
    padding: 0 2rem;
    font-size: 18px;
    color: var(--dark_blue);
    font-weight: bold;
    text-align: end;
}

/* End Quote Section */