@import url("base.css");

/* Intro Section */
.intro-section{
    display: flex;
    padding: 10% 15%;
    padding: 6rem 9rem;
    align-items: center;
}

.left-div{
    width: 50%;
    padding: 0 .5rem 0 0;
}

.main-text{
    margin: 0;
    font-size: 48px;
    color: var(--white);
    font-weight: bold;
}

.left-div p{
    font-size: 18px;
    color: var(--light_gray);
}

.sign_up-button{
    padding: 8px 30px;
    border-radius: 7px;
    background: var(--blue);
    color: var(--light_gray);
    font-weight: 600;
}

.left-div .sign_up-button{
    margin-top: 10px;
    border: 0px;
}

.right-div{
    width: 50%;
    margin-left: 30px;
}

.right-div img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    height: 225px;
    max-height: 100%;
}

/* End Intro Section */

/* Information Section */
.information-section{
    background-color: var(--light_gray);
    padding: 2rem 13rem;
}

.information-section h2{
    margin: 0;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: var(--dark_blue);
}

.random_information-container{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.random_information-container figure{
    max-width: 150px;
    margin: 0 auto;
}

.img-container{
    display: inline-block;
    width: 150px;
    height: 170px;
    border: 3px solid var(--blue);
    border-radius: 20px;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: inherit;
}

.random_information-container figcaption{
    font-size: 15px;
    color: var(--gray);
    font-weight: normal;
    text-align: center;
}

/* End Information Section */