:root {
    /* Background */
    --dark_blue_bg: #1f2937;
    /* Hero Main Text */
    --white: #f9faf8;
    /* Hero Secondary Text */
    --light_gray: #e5e7eb;
    /* Button */
    --blue: #3882f6;
    /* Information Header */
    --dark_blue: #1f2937;
    /* Information text */
    --gray: #73777d;
}